Social media workflow.json
{
  "name": "Social media workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -48
      ],
      "id": "3a34691d-0655-45c0-8905-474d3aa9c2a7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Hi, Can you please generate the 3 Linkedln Post Ideas, based on the below research. \n\n{{ $json.notes }}\n\n\n\nMake sure that you also provide the reference of what exactly is needed to write the post.\n\nOutput 3 ideas like below.\n\n<topic1>\n<research1>\n\n<topic2>\n<research2>\n\n<topic3>\n<research3>"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        208,
        -48
      ],
      "id": "e4119a54-f083-4042-b109-042e6fe235e1",
      "name": "Generate topic or idea",
      "credentials": {
        "openAiApi": {
          "id": "6XaMNpHo9NdJmjWD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTI2NDcwNzU5OTc0NjA4MjA1OTk6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "2d5bc328-9123-4ff8-ad3e-1da6a526fe58",
      "name": "Get many tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "mprvFrty1JVjmNyn",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant who helps to generate the linkedln post for the user.\n\nYou will be given the content which will have 3 post ideas and reference as below: {{ $json.output[0].content[0].text }}\n\n\nMake sure that you update the same on Google sheet tool provided to you which has 3 columns\n\nTopic\tReference\tPost\n\n\nPost should be concise with a good hook and hashtags in the bottom.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -48
      ],
      "id": "70976367-55a6-4d74-a6eb-ba40efc76f39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10IgFKJ-Wwjrac4MBsurFKP6F4wYe5W5lJFw6R5uNK9o",
          "mode": "list",
          "cachedResultName": "Content Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IgFKJ-Wwjrac4MBsurFKP6F4wYe5W5lJFw6R5uNK9o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IgFKJ-Wwjrac4MBsurFKP6F4wYe5W5lJFw6R5uNK9o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Reference": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reference', ``, 'string') }}",
            "Post": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Post', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reference",
              "displayName": "Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        848,
        112
      ],
      "id": "fc3711f9-9781-4988-861c-f845ef156acd",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8XlaMiGQDcroTIlM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        160
      ],
      "id": "f0f8b717-d114-4b89-b826-fbb6ea132f82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6XaMNpHo9NdJmjWD",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Generate topic or idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate topic or idea": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ed14878-6d98-4a2f-a91b-efe84c29f469",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a6e9cdf0c02d8fbc45fba849a2531faf68c0eb44fbb42d33523fc7094267032"
  },
  "id": "RrjPUqIh00UjwpLT",
  "tags": []
}